---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Mi Portafolio',
  description = 'Sitio personal con Astro + Tailwind',
} = Astro.props;

import '../styles/global.css';
---

<html lang="es" class="scroll-smooth dark"> <!-- forzamos modo oscuro -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">

    <title>{title}</title>
  </head>
  <body class="min-h-dvh bg-slate-950 text-slate-100 antialiased">
    <!-- HEADER -->
    <header class="border-b border-slate-800 bg-slate-900/50 backdrop-blur">
      <div class="mx-auto max-w-5xl px-4 h-16 flex items-center justify-between">
        <a href="/" class="inline-flex items-center gap-2 font-semibold">
          <span class="size-2.5 rounded-full bg-blue-500 shadow-[0_0_20px] shadow-blue-500/40"></span>
          <span class="text-slate-100">MiPortafolio</span>
        </a>

        <nav class="hidden sm:flex items-center gap-6 text-sm text-slate-400">
          <a href="/" class="hover:text-blue-400 transition">Inicio</a>
          <a href="#proyectos" class="hover:text-blue-400 transition">Proyectos</a>
          <a href="#contacto" class="hover:text-blue-400 transition">Contacto</a>
        </nav>
      </div>
    </header>


    <!-- CONTENIDO -->
    <main class="mx-auto max-w-5xl px-4 py-10">
      <slot />
    </main>

    <!-- FOOTER -->
    <footer class="border-t border-slate-800 bg-slate-900/50">
      <div class="mx-auto max-w-5xl px-4 py-8 text-sm text-slate-400 text-center">
        © {new Date().getFullYear()} Hecho por Henry.
      </div>
    </footer>
  </body>
</html>
